<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/band.css">
    <title>Document</title>
</head>

<body>
    <div class="header">
        <ul class="nav">
            <li><a href="javascript:void(0)">home</a></li>
            <li><a href="javascript:void(0)">band</a></li>
            <li><a href="javascript:void(0)">tour</a></li>
            <li><a href="javascript:void(0)">contact</a></li>
            <li id="drop">
                <a href="javascript:void(0)">more</a>
                <ul class="dropdown">
                    <li><a href="javascript:void(0)">merchandise</a></li>
                    <li><a href="javascript:void(0)">extras</a></li>
                    <li><a href="javascript:void(0)">media</a></li>
                </ul>
            </li>
               
            <li><a href="javascript:void(0)"><i class="fa fa-search"></i></a></li>
        </ul>
        <div class="bgcover">
            <div class="text-bottom">
                <h1>chicago</h1>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
    </div>
    <section class="sec1">
       
    </section>

    <script src="./js/band.js" defer></script>
</body>

</html>