<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/blog.css">
    <title>Blog</title>
</head>

<body>
    <div class="header">
        <h1>MY BLOG</h1>
        <p>Welcome to the blog of <span>unknown</span></p>
    </div>
    <section class="main">
        <div class="left-side">
            <div class="box">
                <img src="./src/blog/woods.jpg" alt="woods">
                <div class="box-text">
                    <h3>TITLE HEADING</h3>
                    <span>Title description, <span>April 7, 2014</span></span>
                    <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem
                        euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed
                        ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo
                        condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
                    <div class="box-text-bottom">
                        <button>read more »</button>
                        <span>comments <span>0</span></span>
                    </div>
                </div>
            </div>
            <div class="box">
                <img src="./src/blog/bridge.jpg" alt="bridge">
                <div class="box-text">
                    <h3>BLOG ENTRY</h3>
                    <span>Title description, <span> April 2, 2014</span></span>
                    <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem
                        euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed
                        ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo
                        condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
                    <div class="box-text-bottom">
                        <button>read more »</button>
                        <span>comments <span>0</span></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-side">
            <div class="box">
                <img src="./src/blog/avatar_g.jpg" alt="avatar">
                <div class="box-text">
                    <h3>My Name</h3>
                    <p>Just me, myself and I, exploring the universe of uknownment. I have a heart of love and a
                        interest of lorem ipsum and mauris neque quam blog. I want to share my world with you.</p>
                </div>
            </div>
            <div class="box popular">
                <div class="popular-header">
                    <h4>Popular Posts</h4>
                </div>
                <div class="popular-row">
                    <div class="popular-row-left">
                        <img src="./src/blog/workshop.jpg" alt="workshop">
                    </div>
                    <div class="popular-row-right">
                        <h4>Lorem</h4>
                        <p>Sed mattis nunc</p>
                    </div>
                </div>
                <div class="popular-row">
                    <div class="popular-row-left">
                        <img src="./src/blog/gondol.jpg" alt="gondol">
                    </div>
                    <div class="popular-row-right">
                        <h4>Ipsum</h4>
                        <p>Sed mattis nunc</p>
                    </div>
                </div>
                <div class="popular-row">
                    <div class="popular-row-left">
                        <img src="./src/blog/skies.jpg" alt="skies">
                    </div>
                    <div class="popular-row-right">
                        <h4>Ipsum</h4>
                        <p>Sed mattis nunc</p>
                    </div>
                </div>
                <div class="popular-row">
                    <div class="popular-row-left">
                        <img src="./src/blog/rock.jpg" alt="rock">
                    </div>
                    <div class="popular-row-right">
                        <h4>Ipsum</h4>
                        <p>Sed mattis nunc</p>
                    </div>
                </div>
            </div>
            <div class="box tags">
                <div class="tag-header">
                    <h4>Tags</h4>
                </div>
                <div class="tag-row">
                    <span>Travel</span>
                    <span>New York</span>
                    <span>London</span>
                    <span>IKEA</span>
                    <span>NORWAY</span>
                    <span>DIY</span>
                    <span>Ideas</span>
                    <span>Baby</span>
                    <span>Family</span>
                    <span>News</span>
                    <span>Clothing</span>
                    <span>Shopping</span>
                    <span>Sport</span>
                    <span>Games</span>
                </div>
            </div>
        </div>
    </section>
    <div class="footer">
        <div class="navigation">
            <button class="disabled">previous</button>
            <button>next »</button>
        </div>
        <div class="author">
            <p>powered by @afif</p>
        </div>
    </div>
</body>

</html>