<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/streetart.css">
    <title>Street art</title>
</head>

<body>
    <div class="header">
        <nav>
            <div><a href="javascript:void(0)">my art</a></div>
            <div><a href="#about">about</a></div>
        </nav>
    </div>

    <section class="sec1">
        <div class="sec1-left">
            <img src="./src/street_art/streetart.jpg" alt="1">
            <img src="./src/street_art/streetart2.jpg" alt="1">
            <img src="./src/street_art/streetart5.jpg" alt="1">
        </div>
        <div class="sec1-right">
            <img src="./src/street_art/streetart3.jpg" alt="">
            <img src="./src/street_art/streetart4.jpg" alt="">
        </div>
    </section>

    <section class="sec2" id="about">
        <div class="contain">
            <h3>about</h3>
            <img src="./src/street_art/boy.jpg" alt="boy">
            <p>Just me, myself and I, exploring the universe of unknownment. I have a heart of love and an interest of
                lorem ipsum and mauris neque quam blog. I want to share my world with you. Praesent tincidunt sed tellus
                ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.
                Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies
                congue gravida diam non fringilla.</p>
        </div>
    </section>

    <section class="sec3">
        <div class="contain">
            <h3>Do not hesitate to contact me!</h3>
            <form>
                <label for="name">Name</label>
                <input type="text" placeholder="Name">
                <label for="email">Email</label>
                <input type="email" placeholder="Email">
                <label for="message">Message</label>
                <input type="text" placeholder="Message">
                <input type="button" value="Submit">
            </form>
        </div>
    </section>

    <div class="footer">
        <div class="contain">
            <p>powered by @afif</p>
        </div>
    </div>
</body>

</html>