*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    touch-action: pan-y;
}

#slider-container{
    width: 700px;
    height: auto;
    background-color: #eee;
    overflow: hidden;
}
#slider-container #slider{
    display: flex;
}