* {
    box-sizing: border-box;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.nav {
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav::after {
    content: "";
    clear: both;
    display: table;
}

.nav>li {
    float: left;
}

.nav>li:last-child {
    float: right;
}

.nav>li:last-child>a:hover {
    background-color: red;
    color: white;
}

.nav>li>a {
    display: inline-block;
    color: white;
    padding: 15px 25px;
    text-transform: uppercase;
    position: relative;
}

.nav>li>a:hover {
    background-color: #ddd;
    color: black;
}

.nav>li:nth-child(5)>a::after {
    content: "";
    border: 6px solid transparent;
    border-top: 6px solid white;
    position: relative;
    top: 15px;
    left: 5px;
}

.nav>li:nth-child(5)>a:hover::after {
    border-top: 6px solid #000;
}

.nav>li:nth-child(5):hover .dropdown {
    opacity: 1;
    pointer-events: initial;
}

.dropdown {
    position: absolute;
    opacity: 0;
    transition: 0.3s linear;
    pointer-events: none;
}

.dropdown>li>a {
    display: block;
    background-color: #f1f1f1;
    padding: 10px 0;
    padding-left: 15px;
    padding-right: 50px;
    color: black;
    text-transform: capitalize;
    text-align: left;
}

.dropdown>li>a:hover {
    background-color: #ddd;
}

.bgcover{
    background-image: url("../src/chicago.jpg");
    background-size: 100% auto;
    background-position: center center;
    padding-bottom: 50%;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
    margin-top: 40px;
}
.text-bottom{
    color: white;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    line-height: 2;
    text-align: center;
}
.sec1{
    margin-top: 60px;
}


@media screen and (max-width:600px) {
    .nav>li {
        width: 100%;
        text-align: center;
    }
    
    .nav>li>a {
        width: 100%;
    }
    
    .nav>li:nth-child(5):hover .dropdown {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
    }
    


}