@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

:root {
    --pink: hsl(322, 100%, 66%);
    --very-pale-cyan: hsl(193, 100%, 96%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);
}

header{
    background-color: var(--very-pale-cyan);
    margin-bottom: 100px;
}
input{
    cursor: pointer;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 95%;
    padding: 40px 0;
}
ul {
    list-style: none;
}
li{
    text-decoration: none;
}
nav ul li input{
    padding: 13px 68px;
    font-size: 18px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 7px 0px hsla(200, 11%, 55%, 0.91);
    border: none;
    margin-right: 50px;
}
nav img{
    width: 20%;
    height: 100%;
}
section{
    width: 90%;
    margin: 0 auto;
}
.sh{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sh_left{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 40%;
    margin-top: 40px;
}
.sh_left h1{
    font-size: 35px;
    line-height: 1.2em;
}
.sh_left p{
    font-family: "Open Sans";
    color: var(--grayish-blue);
    font-size: 18px;
    font-weight: 400;
}
.sh_left input{
    border-radius: 20px;
    border: none;
    box-shadow:  0 0 5px 0 hsla(200, 11%, 55%, 0.91);
    background-color: var(--pink);
    color: #fff;
    font-size: 18px;
    width: 270px;
    height: 50px;
}
.sh_right{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.sh_right img{
    width: 87%;
}
.sbox{
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 5px 0 hsla(200, 11%, 55%, 0.91);
    padding: 80px;
    border-radius: 20px;
    margin-bottom: 30px;
}
.sright{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.sright img{
    width: 50%;
}
.sleft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    width: 75%;
}
.sleft h1{
    font-size: 30px;
}
.sleft p{
    font-size: 18px;
    font-family: "Open Sans";
    color: var(--grayish-blue);
}
section.sbox.reverse{
    flex-direction: row-reverse;
}
section.sbox.reverse>.sright{
    justify-content: start;
}

.sready{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 200px;
    position: relative;
}
.wrap_sready{
    position: absolute;
    top: -100px;
    box-shadow: 0 0 5px 0 hsla(200, 11%, 55%, 0.91);
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 10px;
    background-color: #fff;
}
.wrap_sready input{
    width: 280px;
    height: 50px;
    font-size: 18px;
    background-color: var(--pink);
    color: #fff;
    border: none;
    border-radius: 20px;
    box-shadow:  0 0 5px 0 hsla(200, 11%, 55%, 0.91);
}

footer{
    background-color: var(--very-dark-cyan);
    padding: 100px 0;
    color: #fff;
    
}
.sf_logo{
    margin-right: 40px;
    margin-bottom: 20px;
}
.sf_address{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.contact{
    width: 35%;
    margin-right: 150px;
}
.contact_item{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin-bottom: 20px;
}
.contact_item img{
    height: 100%;
}
a{
    text-decoration: none;
    color: #fff;
}
.menu1{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.menu2{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.social{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.sf_copy{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-top: 20px;
}
.sf_copy p a{
    text-decoration: underline;
    color: #2252A3;
}